@media screen and (max-width:1024px) {
    main .hero-container .hero-content .banner-header {
        font-size: 36px;
        line-height: 43px;
    }
     main .option-section {
        padding: 40px 10px;
    }
     .filter-btn {
        width: 100%;
    }
}
@media screen and (max-width:768px) {
    main .image-container .image-content {
        grid-template-columns: repeat(2,1fr);
    }
    main .image-container .image-content .banner-img img {
        max-width:100%;
        height: auto;
     }
     main .card-container {
        padding: 40px 10px;
    }
     .medium-card-container {
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
}
@media screen and (max-width:424px) {
    .card-btn {
        padding: 20px 60px; 
    }
}