@media all and (max-width: 1440px) {
    header .main-navbar .desktop-menu .nav-right .search-bar {
        width: 300px;
    }
}

@media all and (max-width: 1220px) {
    header .main-navbar .desktop-menu {
        padding: 12px 0;
    }

    header .main-navbar .desktop-menu .nav-right .search-bar {
        width: 200px;
    }
}
@media screen and (max-width:1024px) {
    header .main-navbar .desktop-menu {
        display: none;
    }

    header .main-navbar .mobile-menu {
        display: block;
    }
    main .hero-container .hero-content .banner-header {
        font-size: 36px;
        line-height: 43px;
    }
     main .option-section {
        padding: 40px 10px;
    }
     .filter-btn {
        width: 100%;
    }
}
@media screen and (max-width:991px) {
    header .navigation .midium-small-navbar {
        padding: 5px 0;
    }
}
@media screen and (max-width: 776px) {
    footer .footer-container .footer-content {
        padding: 20px 20px;
    }
}
@media screen and (max-width:768px) {
    main .image-container .image-content {
        grid-template-columns: repeat(2,1fr);
    }
    main .image-container .image-content .banner-img img {
        max-width:100%;
        height: auto;
     }
     main .card-container {
        padding: 40px 10px;
    }
     .medium-card-container {
        grid-template-columns: repeat(2,1fr) !important;
        gap: 2px !important;
    }
    .links-content {
        display: flex;
        justify-content: space-between !important;
        align-items: center !important;
    }
}
@media screen and (max-width:424px) {
    .card-btn {
        padding: 20px 60px !important; 
    }
}

