/* hero css start  */
main .hero-container {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main .hero-container .hero-content .banner-header {
    font-size: 78px;
    font-weight: 600;
    line-height: 93px;
    font-family: "signika";
}

main .hero-container .hero-content .banner-home {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-family: 'lato';
}

main .hero-container .hero-content .banner-store {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    font-family: 'lato';
}

/* hero section end  */
/* form section start  */
main .contact-container {
    max-width:1220px;
    margin: 0 auto;
    padding: 80px 0px;
}
.section-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    font-family: "signika";
}
.section-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-family: "lato";
    color: rgb(119, 119, 119);
}
.info-label{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    font-family: "lato";
    color: rgb(51, 51, 51);
}
.info-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-family: "lato";
    color: rgb(51, 51, 51);
}
.form-control {
    border: 1px solid #ddd;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 14px;
}

.form-control:focus {
    border-color:rgb(199, 199, 199);
    box-shadow: 0 0 0 0.2rem rgba(247, 248, 248, 0.15);
}

textarea.form-control {
    min-height: 200px;
    resize: vertical;
}

.btn-primary {
    background-color: var(--primary-green);
    border: none;
    padding: 12px 25px;
    font-weight: 500;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #095332;
    transform: translateY(-1px);
}