:root {
    --primary-color: #2A431C;
    --black-text-color: #000;
    --green-text-color: #2E7046;
    --grey-text-color: #818181;
    --white-text-color: #FFFFFF;
    --footer-green: #2d5a27;
    --footer-yellow: #f4b840;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header CSS */
/* Topbar CSS */
header .top-bar {
    background-color: var(--primary-color);
    padding: 10px 0;
}

header .top-bar-text {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
}

/* Navigation CSS */
header .navigation .main-navbar .large-navbar {
    padding: 20px 40px;
}

header .navigation .main-navbar .large-navbar .others .search-box {
    border-radius: 8px;
    border: 2px solid #2E7046;
}

header .navigation .midium-small-navbar {
    padding: 25px 0;
}

header .navigation .midium-small-navbar span {
    font-family: lato;
    font-weight: 600;
    color: var(--black-text-color);
}

header .navigation .menu-box .logo {
    width: 150px;
    height: 80px;
}

header .navigation .menu-box .logo img {
    width: 100%;
    height: 100%;
}

header .navigation .main-navbar .small-logo img {
    width: 80px;
    height: 100%;
}

header .navigation .others form input {
    width: 316px;
}

header .navigation .others form input:focus {
    border-color: var(--primary-color);
}

header .navigation .others a svg {
    color: #000;
}

.custom-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    font-size: 16px;
    color: inherit;
}

.close-btn {
    font-weight: 700;
    font-size: 16px;
}

.custom-close-btn .btn-close {
    display: inline-block;
    width: 2px;
    height: 2px;
    background: transparent;
    background-image: var(--bs-btn-close-bg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: -10px;
    opacity: 1;
}

.custom-close-btn:hover .btn-close {
    opacity: 1;
}


.search-container {
    position: relative;
}

.search-container .bi-search {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-link {
    color: #6c757d;
    border: none;
    padding: 1rem;
    flex: 1;
    text-align: center;
}

.nav-tabs .nav-link.active {
    color: #059669;
    border: none;
    border-bottom: 2px solid #059669;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    border-bottom: 1px solid #dee2e6;
}

.menu-list a {
    padding: 1rem;
    display: block;
    color: #212529;
    text-decoration: none;
}

.new-badge {
    background-color: #fff3e6;
    color: #ff6b00;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 500;
}

.close-btn {
    border: none;
    background: none;
    padding: 1rem;
}

#searchInput {
    padding-right: 40px;
}

.empty-cart-content {
    text-align: center;
    padding: 3rem 1rem;
}

.cart-icon {
    font-size: 3rem;
    color: #dee2e6;
    margin-bottom: 1rem;
}

.empty-message {
    color: #666;
    margin-bottom: 2rem;
}

.return-shop-btn {
    background-color: #1e7e34;
    border-color: #1e7e34;
    padding: 0.75rem 2rem;
    font-size: 0.875rem;
}

.return-shop-btn:hover {
    background-color: #186429;
    border-color: #186429;
}

/* main section  */
/* hero section start  */
.image-slider {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px 0;
}

.swiper {
    width: 100%;
    height: 686px;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 686px;
    flex-shrink: 0;
}

.swiper-button-next,
.swiper-button-prev {
    color: #0e0808;
}

.swiper-pagination-bullet {
    background: #050505;
    border: 2px solid whitesmoke;
}

.swiper-pagination-bullet-active {
    background: #464646;
}

/* hero section end  */

/* card section  */
main .product-section {
    background: #FCFAF8;
}

/* Loved Product Section */
main .product-section .loved-product {
    padding: 40px 0;
}

/* Card Container */
main .product-section .card-container {
    padding: 0 40px;
}

main .product-section .card-container .card {
    width: 240px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #D3D3D3;
    background: #FFF;
    position: relative;
}

/* Product Name */
main .product-section .card-container .card .chocolate-p {
    color: #000;
    text-align: center;
    font-family: Signika;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* Product Price */
main .product-section .card-container .card .price {
    color: #2E7046;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.4px;
}

/* Button Style */
main .product-section .card-container .card .card-btn {
    display: inline-flex;
    width: 150px;
    height: 40px;
    color: #FFF;
    font-size: 16px;
    justify-content: center;
    border: none;
    align-items: center;
    border-radius: 4px;
    background: #2E7046;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

/* Button Text Animation */
.card-btn::before,
.card-btn::after {
    content: "SELECT OPTION";
    position: absolute;
    transition: opacity 0.4s, transform 0.2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-btn::after {
    content: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffffff' class='bi bi-eye-fill' viewBox='0 0 16 16'%3E%3Cpath d='M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0'/%3E%3Cpath d='M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7'/%3E%3C/svg%3E");
    opacity: 0;
    transform: translate(-50%, -50%) translateY(10px);
}

.card-btn:hover::before {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-10px);
}

.card-btn:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%);
}

/* Hover Icon */
main .product-section .card-container .card .hover-icon {
    padding: 5px 15px;
    border-radius: 5px;
    background: #FFF;
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translateY(0);
    transition: opacity 0.2s, transform 0.5s;
}

main .product-section .card-container .card:hover .hover-icon {
    opacity: 1;
    transform: translateX(-10px);
}

/* See All Button */
main .product-section .see-btn-container {
    padding: 40px 0;
}

main .product-section .see-all {
    padding: 23px 59px;
    border-radius: 8px;
    background: #276B41;
    color: #FFF;
    font-family: "Hind Siliguri";
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
    margin: 0 auto;
    border: none;
}


/* card swiper css  */
/* .section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .swiper {
    width: 100%;
    height: 400px;
    border-radius: 10px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background: rgba(255, 255, 255, 1);
  } */

/* @media (max-width: 760px) {
    .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }
  
    .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }
  } */
/* product section end  */
/* pinat butter section start  */
main .pinat-batter-section .container {
    padding: 100px 50px;
}

main .pinat-batter-section .pinat-text .pinat-head {
    color: #2E7046;
    font-family: "Hind Siliguri";
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}

main .pinat-batter-section .pinat-text .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

main .pinat-batter-section .pinat-text .rating input {
    display: none;
}

main .pinat-batter-section .pinat-text .rating label {
    font-size: 30px;
    color: gold;
    cursor: pointer;
}

main .pinat-batter-section .pinat-text .rating-review {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
}

main .pinat-batter-section .pinat-text .upokarita {
    color: #818181;
    font-family: "Hind Siliguri";
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.56px;
}

main .pinat-batter-section .pinat-text .pinat-batter-text {
    color: #000;
    font-family: "Hind Siliguri";
    font-size: 28px;
    font-weight: 400;
}

main .pinat-batter-section .pinat-text .order-btn {
    display: inline-flex;
    padding: 23px 59px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #276B41;
    color: #FFF;
    font-family: "Hind Siliguri";
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
    border: none;
}

/* pinat batter section end  */
/*  benner section start  */
main .healthry-banner {
    background-image: url('/assets/media/Home/Home-Image-1-scaled-1%20(1)%201.png');
    height: 332px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .healthry-banner .banner-text {
    padding: 1px 100px;
}

main .healthry-banner .banner-text .text-one {
    color: #2B491D;
    font-family: Inter;
    font-size: 50px;
    font-weight: 600;
    line-height: 55px;
}

main .healthry-banner .banner-text .text-two {
    color: #244316;
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
}

/* banner section css end  */
/* ghee section start  */
main .ghee-section {
    background: #E4F1DF;
}

main .ghee-section .ghee-container {
    padding: 60px 80px;
}

main .ghee-section .ghee-container .ghee-img img {
    /* width: 100%;
    height: 370px;
    flex-shrink: 0; */
}

main .ghee-section .ghee-container .ghee-text-content h2 {
    color: #000;
    font-family: Inter;
    font-size: 49px;
    font-weight: 600;
}

main .ghee-section .ghee-container .ghee-text-content .order-btn {
    padding: 11px 25.99px 11px 34px;
    justify-content: flex-end;
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-weight: 700;
    line-height: 34px;
    border: none;
    align-items: center;
    border-radius: 8px;
    background: #2E7046;
}

main .ghee-section .ghee-container .ghee-text-content .ghee-text h2 {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

main .ghee-section .ghee-container .ghee-text-content .ghee-text p {
    color: #333;
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 34px;
}

/* ghee banner section start  */
main .banner-section {
    background-image: url('/assets/media/Home/web1-1-1-scaled-1\ 1.png');
    height: 255px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ghee banner section end  */
/* client section start  */
main .client-section {
    padding: 80px 41px;
    background: #E4F1DF;
}

main .client-section .client-header {
    color: #29421B;
    font-family: Signika;
    font-size: 33px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 40px;
}

main .client-section .review-container .review-card {
    border-radius: 12px;
    background: #FFF;
    display: flex;
    width: 560px;
    padding: 20px 30px;
    height: 283px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    flex-shrink: 0;
}

main .client-section .review-container .review-card .review-text {
    color: #838383;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 29px;
}

main .client-section .review-container .review-card .review-name {
    color: #3A3A3A;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 29px;
}

main .client-section .review-container .review-card .review-intro {
    color: #276B41;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
}

/* client section end  */
/* blog section start  */
main .blog-section {
    padding: 80px 40px;
}

main .blog-section .blog-header {
    color: #27441B;
    font-family: Signika;
    font-size: 33px;
    font-weight: 700;
    line-height: 30px;
}

/* blog section end  */
main .blog-section {
    background: #FFF;
}

main .blog-section .blog-card-container {
    padding: 40px 40px;
}

main .blog-section .blog-card-container .card {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.25);
    border: none;
}

main .blog-section .blog-card-container .card img {
    width: 100%;
    border-radius: 14px 14px 0px 0px;
}

main .blog-section .blog-card-container .card .card-body .card-date {
    color: #838383;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
}

main .blog-section .blog-card-container .card .card-body .card-title {
    color: #000;
    font-family: Signika;
    font-size: 32px;
    font-weight: 500;
    line-height: 28px;
}

main .blog-section .blog-card-container .card .card-body .card-text {
    color: #838383;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 17px;
}

main .blog-section .blog-card-container .card .card-body .card-logo {
    color: #2E7046;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

/* blog section css end  */
/* <policy section css start */
/* < policy section css end  */

/* footer section start  */
footer {
    background-image: url("/assets/media/Home/Footer-Image-scaled-1\ 2.png");
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .footer-section .footer-container {
    padding: 80px 40px;
}

footer .footer-section .footer-container img {
    width: 249px;
    height: 145.186px;
    flex-shrink: 0;
}

footer .footer-section .footer-container .img-text {
    width: 460px;
    color: #FFF;
    padding: 0 10px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: -0.64px;
}

footer .footer-section .footer-container .half-of-middle p {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 31px;
    flex-wrap: nowrap;
}

footer .footer-section .footer-container .footer-contact {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 31px;
    flex-wrap: nowrap;
}

footer .footer-section hr {
    color: #fff;
}

footer .footer-section .footer-copyright {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 31px;
}
@media screen and (max-width:1024px) {
    main .card-small-container {
        display: block;
    }
    /* small device  card start  */
    main .card-small-container .card-small-content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
}
@media screen and (max-width:991px) {

    /* navbar css start  */
    header .navigation .midium-small-navbar {
        padding: 5px 0;
    }

    /* healthry-banner css start  */
    main .healthry-banner .banner-text .text-one {
        font-size: 34px;
        line-height: 45px;
    }

    main .healthry-banner .banner-text .text-two {
        font-size: 16px;
        line-height: 25px;
    }

    /* healthry-banner css end  */

}

/* responsive style  */
@media screen and (max-width: 776px) {

    /* pinat batter section start  */
    main .pinat-batter-section .container {
        padding: 40px 20px;
    }

    main .pinat-batter-section .pinat-text .pinat-head {
        font-size: 24px;
        line-height: 40px;
        text-align: center;
    }

    main .pinat-batter-section .pinat-text .rating label {
        font-size: 22px;
    }

    main .pinat-batter-section .pinat-text .rating-review {
        font-size: 18px;
    }

    main .pinat-batter-section .pinat-text .upokarita {
        font-size: 18px;
    }

    main .pinat-batter-section .pinat-text .pinat-batter-text {
        font-size: 18px;
    }

    main .pinat-batter-section .pinat-text .order-btn {
        text-align: center;
        padding: 17px 40px;
    }

    /* pinat batter section end */
    /* .healthry-banner css start  */
    main .healthry-banner {
        background-position: top left;
        height: 350px;
    }

    /* .healthry-banner css end*/


    /* footer css start  */
    footer {
        height: 100%;
    }

    footer .footer-section {
        padding: 20px 10px;
    }

    footer .footer-section .footer-container {
        padding: 0px;
    }

    footer .footer-section .footer-container .contact-us {
        padding: 20px 5px;
    }
    .horizental{
        width: 90%;
        margin: 0 auto;
        border:1px solid #ffda61;
    }
    footer .footer-section .footer-container .img-text {
        width: auto;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 25px;
        padding: 0px !important;
        font-weight: 400;
    }

    footer .footer-section .footer-container .half-of-middle p {
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;

    }

    .contact {
        display: flex;
        justify-content: start;
    }

    footer .footer-section .footer-container .footer-contact {
        font-size: 16px;
        line-height: 21px;
        margin: 30px 0;
        font-weight: 400;
        justify-content: start !important;
    }

    footer .footer-section hr {
        color: #fff;
    }

    footer .footer-section .footer-copyright {
        font-size: 12px;
        line-height: 21px;
    }

    /* footer css end  */

}