@media screen and (max-width:1880px) {

    /* review section start  */
    main .review-swiper-container {
        max-height: 230px;
    }

    /* Keep swiper styles */
    main .review-swiper-container .swiper {
        max-height: 230px;
    }
}

@media all and (max-width: 1440px) {

    /* desktop Menu */
    header .main-navbar .desktop-menu .nav-right .search-bar {
        width: 300px;
    }
}

@media screen and (max-width:1360px) {
    main .swiper-card {
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: auto;
        background: #fff;
    }

    main .pinat-batter-section .pinat-container {
        width: 100%;
        padding: 60px 30px;
    }

    main .ghee-section .ghee-container {
        width: 100%;
        padding: 60px 30px;
    }
}

@media all and (max-width: 1220px) {

    /* desktop Menu */
    header .main-navbar .desktop-menu {
        padding: 12px 0;
    }

    header .main-navbar .desktop-menu .nav-right .search-bar {
        width: 200px;
    }

    main .blog-section {
        padding: 40px 40px;
        max-width: 1220px;
        margin: 0 auto;
    }
}

@media screen and (max-width:1024px) {

    /* desktop Menu */
    header .main-navbar .desktop-menu {
        display: none;
    }

    header .main-navbar .mobile-menu {
        display: block;
    }

    main .slider-section {
        height: 300px !important;
    }

    main .slider-section .swiper-pagination-bullet {
        padding: 4px !important;
        border: 2px solid whitesmoke !important;
    }

    main .service-container .service-card .service .service-first {
        font-size: 14px;
        line-height: 19.4px;
    }

    main .service-container .service-card .service .service-second {
        font-size: 10px;
        line-height: 26px;
    }

    .bottom-nav {
        display: block;
    }

    main .hero-container .swiper-container {
        height: 260px;
        /* Define the height explicitly */
    }

    main .hero-container .swiper-container .swiper {
        height: 260px;
    }

    main .swiper-card {
        display: none;
    }

    main .medium-card-container {
        display: block;
    }

    main .medium-product-section .medium-product-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    /* small device  card start  */
    main .medium-card-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    main .medium-card-container .card .card-img img {
        width: 100%;
        height: auto;
    }

    main .medium-card-container .card {
        width: 100% !important;
        height: 100% !important;
        padding: 10px;
        border-radius: 12px;
        border: 1px solid #D3D3D3;
        background: #FFF;
        position: relative;
        text-align: center;
    }

    main .medium-card-container .card-btn {
        padding: 20px 80px;
        font-size: 12px;
        line-height: 15px;
        flex-wrap: nowrap;
    }

    main .pinat-batter-section .pinat-text .pinat-head {
        line-height: 40px;
    }

    /* healthry-banner css start  */
    main .healthry-banner .banner-text {
        width: 100%;
        padding: 1px 0px;
        justify-content: center !important;
    }

    main .healthry-banner .banner-text .text-one {
        font-size: 34px;
        line-height: 34px;
        text-align: center !important;
    }

    main .healthry-banner .banner-text .text-two {
        font-size: 15px;
        line-height: 24px;
    }

    .improve-text {
        color: #333;
        font-family: "Hind Siliguri";
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }

    /* healthry-banner css end  */
    /* service start  */
    main .service-container {
        padding: 40px 30px;
        margin: 0 auto;
    }

    .service-first {
        font-family: "inter";
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }

    .service-second {
        font-family: "inter";
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
    }

    /* footer css  */
    footer .footer-container .footer-content {
        padding: 40px 10px 0px 10px !important;
    }

    /* store responsive */
    main .hero-container .hero-content .banner-header {
        font-size: 36px;
        line-height: 43px;
    }

    main .image-container {
        max-width: auto;
    }

    main .image-container .image-content .banner-img img {
        max-width: 148px !important;
        height: auto;
    }

    main .option-section {
        padding: 0px 20px;
    }

    main .option-section .option-container .option-content .filter-btn {
        width: 100%;
    }

    /* arrival css  */
    main .hero-container .hero-content .banner-header {
        font-size: 36px;
        line-height: 43px;
    }

    main .option-section {
        padding: 40px 20px;
    }

    .filter-btn {
        width: 100%;
    }

    /* contact css  */
    main .hero-container .hero-content .banner-header {
        font-size: 36px;
        line-height: 43px;
    }

    /* belona css  */
    main .hero-container .hero-content .banner-header {
        font-size: 36px;
        line-height: 43px;
    }

    main .ghee-section .ghee-container .ghee-img img {
        max-width: 90%;
        height: auto;
    }

    /* blog css  */
    main .blog-container .category-tag {
        left: 20%;
    }

    /* login css  */
    main .hero-container .hero-content .banner-header {
        font-size: 36px;
        line-height: 43px;
    }

    /* product css */
    main.product-container {
        padding: 0px 10px;
    }

    main .product-container .chocolate-head {
        font-size: 24px;
        font-family: "Signika";
        font-weight: 500;
        color: rgb(51, 51, 51);
        line-height: 28px;
    }

    main .product-container .btn-cart,
    .btn-buy {
        padding: 8px 20px;
        border: none;
        transition: background 0.3s ease;
    }

    /* wishlist css  */
    main .wish-container .wish-content .wish-error {
        font-size: 42px;
        font-weight: 600;
        line-height: 50px;
    }

    main .wish-container .wish-content .wish-btn {
        padding: 15px 40px;
    }
}

@media screen and (max-width:991px) {

    /* navbar css start  */
    header .navigation .midium-small-navbar {
        padding: 5px 0;
    }

    .cart-badge {
        right: 35% !important;
    }


    /* card section  */
    main .medium-card-container .card-btn {
        padding: 20px 60px;
    }

    /* ghee section  */
    main .ghee-section .ghee-container .ghee-text-content h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
    }

    main .ghee-section .ghee-container .ghee-text-content .ghee-text h2 {
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
    }

    main .ghee-section .ghee-container .ghee-text-content .ghee-text p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

    main .wish-container {
        padding: 60px 0px;
    }

    main .wish-container .wish-content .wish-error {
        font-size: 32px;
        font-weight: 600;
        line-height: 42px;
    }
}

@media screen and (max-width: 776px) {
    main .slider-section {
        height: 200px !important;
    }

    /* small device  card start  */
    main .medium-card-container {
        padding: 0px 10px;
    }

    main .medium-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    main .medium-card-container .card .card-img img {
        width: 100%;
        height: 100%;
    }

    main .medium-card-container .card {
        width: 100% !important;
        padding: 10px;

    }

    main .medium-card-container .card .card-btn {
        padding: 20px 60px;
        font-size: 13px;
        white-space: nowrap;

    }

    /* pinat section css start  */
    main .pinat-batter-section .pinat-text .pinat-head {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    main .pinat-batter-section .pinat-text .rating-review {
        font-size: 18px;
        text-align: center;
    }

    main .pinat-batter-section .pinat-text .upokarita {
        font-size: 18px;
        text-align: center;
    }

    main .pinat-batter-section .pinat-text .pinat-batter-text {
        font-size: 18px;
        text-align: start;
    }

    main .pinat-batter-section .pinat-text .order-btn {
        padding: 18px 49px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    main .pinat-batter-section .pinat-container {
        padding: 60px 20px;
    }

    /* pinat section css end  */
    /* banner section start */
    main .healthry-banner {
        height: auto;
    }

    /* pinat batter section start  */
    main .healthry-banner .banner-text {
        width: 100%;
        padding: 1px 0px;
        gap: 40px !important;
    }

    /* ghee css start  */
    main .ghee-section .ghee-container {
        padding: 60px 20px 10px 20px;
    }

    main .ghee-section .ghee-container .ghee-text-content h2 {
        font-size: 20px;
        line-height: 16px;
        font-weight: 600;
    }

    main .ghee-section .ghee-container .ghee-text-content .order-btn {
        width: 100%;
    }

    main .ghee-section .ghee-container .ghee-img {
        text-align: center;
    }

    main .ghee-section .ghee-container .ghee-img img {
        height: auto;
        max-width: 300px !important;
    }

    /* ghee css end  */
    /* baner css  */
    .banner-section {
        height: 100px;
        width: 100%;
    }

    /* review section css start */
    main .client-review-section {
        padding: 20px 10px;
        background: #E4F1DF;
    }

    main .client-review-section .client-header {
        font-size: 25px;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 20px;
    }

    main .review-swiper-container .swiper {
        width: 100%;
    }

    main .review-swiper-container .swiper .swiper-slide {
        text-align: center;
        font-size: 18px !important;
        background: var(--besic-white);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .client-review-section .review-swiper-container .swiper .swiper-wrapper .swiper-slide .review-card .review-text {
        font-size: 10px;
        line-height: 15px;
    }

    main .client-review-section .review-swiper-container .swiper .swiper-wrapper .swiper-slide .review-card .review-name {
        font-size: 12px;
        line-height: 15px;
        text-align: start;
    }

    main .client-review-section .review-swiper-container .swiper .swiper-wrapper .swiper-slide .review-card .review-intro {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        text-align: start;
        margin-top: 10px;

    }

    main .client-review-section {
        padding: 60px 41px 140px 41px;
        background: #E4F1DF;
    }

    main .client-review-section .review-swiper-container .swiper .swiper-wrapper .swiper-slide .review-card {
        width: 100%;
        padding: 20px 30px;
        height: 283px;
        gap: 12px;
    }

    /* blog section start  */
    main .blog-section {
        padding: 40px 20px;
        max-width: 1220px;
        margin: 0 auto;
    }

    main .blog-section .blog-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    main .blog-section .card-box {
        border-radius: 10px !important;
    }

    main .blog-section .card-box img {
        width: 100%;
        height: auto;
    }

    /* survice start  */
    main .service-container .service-card {
        flex-direction: column;
        gap: 2px;
    }

    /* footer css start  */
    footer .footer-container .footer-content {
        padding: 20px 0px;
        overflow: hidden;
    }

    footer .footer-container .footer-content .links-content {
        display: flex;
        justify-content: space-between !important;
        align-items: center !important;
        padding: 0px 20px !important;
    }

    /* footer css end  */

}

@media screen and (max-width:768px) {
    main .image-container .image-content {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    main .image-container .image-content .banner-img img {
        max-width: 286px !important;
        height: auto;
    }

    main .ghee-section .ghee-container .ghee-img img {
        width: 100% !important;
        height: auto;
    }

    main .card-container .medium-card-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .links-content {
        display: flex;
        justify-content: space-between !important;
        align-items: center !important;
    }

    main .service-container .service-card .service-icon {
        height: 35px;
        width: 35px;
    }

    /* arrival css  */
    main .image-container .image-content {
        grid-template-columns: repeat(2, 1fr);
    }

    main .image-container .image-content .banner-img img {
        max-width: 100%;
        height: auto;
    }

    main .card-container {
        padding: 40px 10px;
    }

    main .card-container .medium-card-container {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 2px !important;
    }

    main .card-container .links-content {
        display: flex;
        justify-content: space-between !important;
        align-items: center !important;
    }

    /* offer css  */
    main .banner-container {
        width: 100%;
        max-height: 878px;
    }

    main .banner-container .banner-content {
        padding: 100px 10px;
    }

    main .banner-container .banner-content .Join-img {
        max-width: 450px;
        max-height: 280px;
        flex-wrap: wrap;
    }

    main .banner-container .banner-content .join-header {
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
    }

    main .banner-container .banner-content .Facebook-img {
        max-width: 530px;
        max-height: 90px;
    }

    main .blog-container .category-tag {
        left: 35%;
    }
}

@media screen and (max-width:600px) {
    main .image-container .image-content .banner-img img {
        max-width: 240px !important;
        height: auto;
    }
}

@media screen and (max-width:567px) {
    main .loved-product img {
        max-width: 220px;
    }

    .icon-content {
        display: flex;
        flex-direction: column;
    }

    main .details-container .details-content .left-side .ghee-kitchen {
        display: inline-block;
        padding: 0px 10px;
        background: #2E7046;
        color: #FFF;
        font-family: "Lato";
        font-size: 12px;
        font-weight: 600;
        line-height: 25px;
    }

    main .details-container .details-content .left-side .ghee-head {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
    }

    main .details-container .details-content .left-side .icons {
        margin-top: 15px;
        font-size: 12px;
        line-height: 22px;
        font-family: "lato";
        color: rgb(165, 165, 165);
    }

    .tags-container {
        text-align: start !important;
    }
}

@media (max-width:512px) {
    .cart-badge {
        right: 28% !important;
    }

    main .image-container .image-content .banner-img img {
        max-width: 200px !important;
        height: auto;
    }

    main .review-swiper-container {
        position: relative;
        width: 100%;
        max-height: 230px;
    }

    /* Keep swiper styles */
    main .review-swiper-container .swiper {
        width: 100%;
    }

    main .service-container {
        padding: 40px 10px;
    }
}

@media screen and (max-width:496px) {
    main .banner-container .banner-content .Join-img {
        max-width: 290px;
    }

    main .banner-container .banner-content .Facebook-img {
        max-width: 330px;
        max-height: 70px;
    }
}

@media screen and (max-width:424px) {
    .card-btn {
        padding: 20px 60px !important;
    }

    main .image-container .image-content .banner-img img {
        max-width: 180px !important;
        height: auto;
    }
}

@media screen and (max-width:400px) {
    main .card-container .medium-card-container .card .card-btn {
        padding: 20px 60px !important;
    }

    main .product-container .btn-cart,
    .btn-buy {
        padding: 8px 10px;
        font-size: 14px;
        border: none;
        transition: background 0.3s ease;
    }

    main .image-container .image-content .banner-img img {
        max-width: 160px !important;
        height: auto;
    }

}

@media screen and (max-width:360px) {

    /* Keep swiper styles */
    main .review-swiper-container .swiper {
        max-height: 230px;
        border-radius: 10px;
    }

    .cart-badge {
        right: 20% !important;
    }

    main .image-container .image-content .banner-img img {
        max-width: 140px !important;
        height: auto;
    }

    footer .footer-container .footer-content .links-content {
        padding: 0px 10px !important;
    }

    footer .footer-container .footer-content .footer-contact {
        padding: 0px 10px !important;
    }
}