@media all and (max-width: 1440px) {

    /* desktop Menu */
    header .main-navbar .desktop-menu .nav-right .search-bar {
        width: 300px;
    }
}

@media all and (max-width: 1220px) {

    /* desktop Menu */
    header .main-navbar .desktop-menu {
        padding: 12px 0;
    }

    header .main-navbar .desktop-menu .nav-right .search-bar {
        width: 200px;
    }
}

@media screen and (max-width:1024px) {

    /* desktop Menu */
    header .main-navbar .desktop-menu {
        display: none;
    }

    header .main-navbar .mobile-menu {
        display: block;
    }



    main .card-small-container {
        display: block;
    }

    /* small device  card start  */
    main .card-small-container .card-small-content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width:991px) {

    /* navbar css start  */
    header .navigation .midium-small-navbar {
        padding: 5px 0;
    }

    /* healthry-banner css start  */
    main .healthry-banner .banner-text .text-one {
        font-size: 34px;
        line-height: 45px;
    }

    main .healthry-banner .banner-text .text-two {
        font-size: 16px;
        line-height: 25px;
    }

    /* healthry-banner css end  */

}

@media screen and (max-width: 776px) {

    /* pinat batter section start  */
    main .pinat-batter-section .container {
        padding: 40px 20px;
    }

    main .pinat-batter-section .pinat-text .pinat-head {
        font-size: 24px;
        line-height: 40px;
        text-align: center;
    }

    main .pinat-batter-section .pinat-text .rating label {
        font-size: 22px;
    }

    main .pinat-batter-section .pinat-text .rating-review {
        font-size: 18px;
    }

    main .pinat-batter-section .pinat-text .upokarita {
        font-size: 18px;
    }

    main .pinat-batter-section .pinat-text .pinat-batter-text {
        font-size: 18px;
    }

    main .pinat-batter-section .pinat-text .order-btn {
        text-align: center;
        padding: 17px 40px;
    }

    /* pinat batter section end */
    /* .healthry-banner css start  */
    main .healthry-banner {
        background-position: top left;
        height: 350px;
    }

    /* .healthry-banner css end*/


    /* footer css start  */
    footer {
        height: 100%;
    }

    footer .footer-section {
        padding: 20px 10px;
    }

    footer .footer-section .footer-container {
        padding: 0px;
    }

    footer .footer-section .footer-container .contact-us {
        padding: 20px 5px;
    }

    .horizental {
        width: 90%;
        margin: 0 auto;
        border: 1px solid #ffda61;
    }

    footer .footer-section .footer-container .img-text {
        width: auto;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 25px;
        padding: 0px !important;
        font-weight: 400;
    }

    footer .footer-section .footer-container .half-of-middle p {
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;

    }

    .contact {
        display: flex;
        justify-content: start;
    }

    footer .footer-section .footer-container .footer-contact {
        font-size: 16px;
        line-height: 21px;
        margin: 30px 0;
        font-weight: 400;
        justify-content: start !important;
    }

    footer .footer-section hr {
        color: #fff;
    }

    footer .footer-section .footer-copyright {
        font-size: 12px;
        line-height: 21px;
    }

    /* footer css end  */

}