@media all and (max-width: 1440px) {

    /* desktop Menu */
    header .main-navbar .desktop-menu .nav-right .search-bar {
        width: 300px;
    }

    main .review-swiper-container .swiper {
        width: 70%;
    }
}

@media screen and (max-width:1360px) {
    main .swiper-card {
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: auto;
        background: #fff;
    }

    main .pinat-batter-section .pinat-container {
        width: 100%;
        padding: 60px 30px;
    }

    main .ghee-section .ghee-container {
        width: 100%;
        padding: 60px 30px;
    }
}

@media all and (max-width: 1220px) {

    /* desktop Menu */
    header .main-navbar .desktop-menu {
        padding: 12px 0;
    }

    header .main-navbar .desktop-menu .nav-right .search-bar {
        width: 200px;
    }

    main .review-swiper-container .swiper {
        width: 80%;
    }
}

@media screen and (max-width:1024px) {

    /* desktop Menu */
    header .main-navbar .desktop-menu {
        display: none;
    }

    header .main-navbar .mobile-menu {
        display: block;
    }

    main .hero-container .swiper-container {
        height: 260px;
        /* Define the height explicitly */
    }

    main .hero-container .swiper-container .swiper {
        height: 260px;
    }

    main .swiper-card {
        display: none;
    }

    main .medium-card-container {
        display: block;
    }

    main .medium-product-section .medium-product-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    /* small device  card start  */
    main .medium-card-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    main .medium-card-container .card .card-img img {
        width: 100%;
        height: auto;
    }
    main .medium-card-container .card {
        width: 100% !important;
        height: 100% !important;
        padding: 10px;
        border-radius: 12px;
        border: 1px solid #D3D3D3;
        background: #FFF;
        position: relative;
        text-align: center;
    }

    main .medium-card-container .card-btn {
        padding: 20px 80px;
        font-size: 12px;
        line-height: 15px;
        flex-wrap: nowrap;

    } 

    main .pinat-batter-section .pinat-text .pinat-head {
        line-height: 40px;
    }

    /* healthry-banner css start  */
    main .healthry-banner .banner-text {
        width: 100%;
        padding: 1px 0px;
        justify-content: center !important;
    }

    main .healthry-banner .banner-text .text-one {
        font-size: 34px;
        line-height: 34px;
        text-align: center !important;
    }

    main .healthry-banner .banner-text .text-two {
        font-size: 15px;
        line-height: 24px;
    }

    .improve-text {
        color: #333;
        font-family: "Hind Siliguri";
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }

    /* healthry-banner css end  */
    /* service start  */
    main .service-container {
        padding: 40px 30px;
        margin: 0 auto;
    }

    .service-first {
        font-family: "inter";
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }

    .service-second {
        font-family: "inter";
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
    }
}

@media screen and (max-width:991px) {

    /* navbar css start  */
    header .navigation .midium-small-navbar {
        padding: 5px 0;
    }

    main .review-swiper-container .swiper {
        width: 100%;
    }
    /* card section  */
    main .medium-card-container .card-btn {
        padding: 20px 60px;
    } 
    /* ghee section  */
    main .ghee-section .ghee-container .ghee-text-content h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
    }

    main .ghee-section .ghee-container .ghee-text-content .ghee-text h2 {
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
    }

    main .ghee-section .ghee-container .ghee-text-content .ghee-text p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

}

@media screen and (max-width: 776px) {

    /* small device  card start  */
    main .medium-card-container {
        padding: 0px 20px;
    }

    main .medium-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    main .medium-card-container .card .card-img img {
        width: 100%;
        height: 100%;
    }

    main .medium-card-container .card {
        width: 100% !important;
        padding: 10px;

    }

    main .medium-card-container .card .card-btn {
        padding: 20px 60px;
        font-size: 13px;
        white-space: nowrap;

    }
    /* pinat section css start  */
    main .pinat-batter-section .pinat-text .pinat-head {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    main .pinat-batter-section .pinat-text .rating-review {
        font-size: 18px;
        text-align: center;
    }

    main .pinat-batter-section .pinat-text .upokarita {
        font-size: 18px;
        text-align: center;
    }

    main .pinat-batter-section .pinat-text .pinat-batter-text {
        font-size: 18px;
        text-align: start;
    }

    main .pinat-batter-section .pinat-text .order-btn {
        padding: 18px 49px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    main .pinat-batter-section .pinat-container {
        padding: 60px 20px;
    }

    /* pinat section css end  */
    /* banner section start */
    main .healthry-banner {
        height: auto;
    }

    /* pinat batter section start  */
    main .healthry-banner .banner-text {
        width: 100%;
        padding: 1px 0px;
        gap: 40px !important;
    }

    /* ghee css start  */
    main .ghee-section .ghee-container {
        padding: 60px 20px 10px 20px;
    }

    main .ghee-section .ghee-container .ghee-text-content h2 {
        font-size: 20px;
        line-height: 16px;
        font-weight: 600;
    }

    main .ghee-section .ghee-container .ghee-text-content .order-btn {
        width: 100%;
    }

    main .ghee-section .ghee-container .ghee-img {
        text-align: center;
    }

    main .ghee-section .ghee-container .ghee-img img {
        height: auto;
        width: auto;
    }

    /* ghee css end  */
    /* baner css  */
    .banner-section {
        height: 100px;
        width: 100%;
    }

    /* review section css start */
    main .client-review-section {
        padding: 20px 10px;
        background: #E4F1DF;
    }

    main .client-review-section .client-header {
        font-size: 25px;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 20px;
    }

    main .review-swiper-container .swiper {
        width: 100%;
        height: 40vh;
    }

    main .client-review-section .review-swiper-container .swiper .swiper-wrapper .swiper-slide .review-card .review-text {
        font-size: 10px;
        line-height: 15px;
    }

    main .client-review-section .review-swiper-container .swiper .swiper-wrapper .swiper-slide .review-card .review-name {
        font-size: 12px;
        line-height: 15px;
        text-align: start;
    }

    main .client-review-section .review-swiper-container .swiper .swiper-wrapper .swiper-slide .review-card .review-intro {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        text-align: start;
        margin-top: 10px;

    }

    main .client-review-section {
        padding: 60px 41px 140px 41px;
        background: #E4F1DF;
    }

    main .client-review-section .review-swiper-container .swiper .swiper-wrapper .swiper-slide .review-card {
        width: 100%;
        padding: 20px 30px;
        height: 283px;
        gap: 12px;
    }

    /* blog section start  */
    main .blog-section {
        padding: 40px 20px;
        max-width: 1220px;
        margin: 0 auto;
    }

    main .blog-section .blog-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    main .blog-section  .card-box {
        border-radius: 10px !important;
    }

    main .blog-section  .card-box img {
        width: 100%;
        height: auto;
    }

    /* survice start  */
    main .service-container .service-card {
        flex-direction: column;
        gap: 2px;
    }

    /* footer css start  */
    footer .footer-container .footer-content {
        padding: 20px 0px;
    }
    .links-content {
        display: flex;
        justify-content: space-between !important;
        align-items: center !important;
    }
    /* footer css end  */

}